body {
	background-color: #010718 !important;
}
/*container*/

.container {
	background-color: white;
	max-width: 1200px;
	min-height: 300px;
	margin: 40px auto;
	border-radius: 10px;
	padding: 20px;
}

/*media query*/
@media only screen and (max-width: 780px) {
	.container{
		margin: 0 !important;
		border-radius: 0 !important;

	}
}
.kotak {
	min-height: 300px;
	background-color: gray;
}
.isi {
	border: solid black;
	min-height: 300px;
	padding: 20px;
	border-radius: 10px;
}

.myform {
	background-color: ;
}

.myform{
	background-color: green;
	color: solid thin black;
	padding: 20px;
}
form.myform label {
	margin-bottom: 0;
	font-weight: bold;
	text-transform: capitalize;
}

table tr.warna {
	background-color: black;
	color: white;
}

table td.blue {
	background-color: blue;
	color: white;
}
table td.merahmuda{
	background-color: green;
	color: white;
}